                <div id="sidebar-inner">
                    {{#if @blog.logo}}<div id="blog-logo"><img src="{{@blog.logo}}" alt="Blog Logo" /></div>{{/if}}
                    <div id="about-blog">
                        <p><strong>阿拉丁和灯</strong> - 浙江大学计算机硕士，IBM工作多年，技术咖一枚，目前在国内一线互联网公司从事后端开发和架构设计。对技术永远保持浓厚兴趣，涉猎广泛，尤其关注人工智能。业余时间喜欢运动，读书和研究智能硬件。欢迎志同道合的朋友来交流。我的博客除特别注明外皆为原创，转载请注明出处。</p> 
                        <p>微信号：aladinghedeng，或扫码加微信(请注明来自博客)</p>
			<img style="max-height: 100%; width: 100%; object-fit: contain" align="middle" src="/content/images/2016/03/aladinghedeng_qrcode2.png" alt="QRCode"/>
                        <div id="about-social">
			    <!--暂时注释掉
                            <a href="http://www.github.com/yijunwu"><i class="fa fa-git-square"></i></a>
			    <a href="https://www.linkedin.com/pub/yijun-wu/26/659/821"><i class="fa fa-linkedin-square"></i></a>
			    <a href="https://www.facebook.com/jacob.wu.161"><i class="fa fa-facebook-square"></i></a>
			    -->
			    <!--a href="http://plus.google.com/"><i class="fa fa-google-plus-square"></i></a-->
                            <!--a href="http://twitter.com/"><i class="fa fa-twitter-square"></i></a-->
                            <!--a href="http://youtube.com/"><i class="fa fa-youtube-square"></i></a-->
                            <!--a onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()"><i class="fa fa-rss-square"></i></a-->
                        </div>
                    </div>
		    <hr/>
                    {{navigation}}
                </div>
